#player_fieldset {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#play::before {
    content: "Play";
}

#play[data-play="play"]::before {
    content: "Pause";
}

#replay::before {
    content: "Enable Repeat";
}

#replay[data-replay="replay"]::before {
    content: "Disable Repeat";
}

#volume::before {
    content: "Mute sound";
}

#volume[data-volume="mute"]::before {
    content: "Unmute sound";
}